@media (max-width: 980px) {
	#dialogbox{
		left: 5px!important;
		width: 95%;
	}
	.session{
		opacity: 0.9;
	}
	#first-view{
		background-attachment: fixed;
		.login{
			a{
				display: block;
				width: 100%;
				margin: 5px auto;
				font-size: 15px;
			}
		}
	}
	.principal-tittle{
		img{
			width: 60%;
		}
		.first_tittle{
			font-size: 35px;
		}
	}
	.information-calltoaction{
		a{
			display: block;
			width: 100%;
			margin: 5px auto;
			font-size: 15px;
			span{
				&:hover{
					font-size: 15px;
				}
			}
		}
	}
	.logo_type{
		text-align: left;
	    display: block;
	    width: 78%;
	    float: left;
	}
	.first_tittle{
		font-size: 30px;
	}
	.nav-tabs>li{
		display: block;
		width: 100%;
	}
	.navbar-toggle{
		background: transparent;
		color: @color-black!important;
		.transition();
		.icon-bar{
			background-color: @color-black!important;
			.transition();
		}
		&:hover, &:active, &:focus{
			position: relative;
			top: -1px;
			background: @color-black-sky!important;
			.icon-bar{
				background-color: @color-white!important;
			}
		}
	}
	.panel-body{
		padding-left: 0px!important;
		padding-right: 0!important;
	}
	.panel-body div{
		padding-left: 2px!important;
		padding-right: 2px!important;	
	}
	.btn-responsive{
		display: block;
		width: 100%!important;
	}
	.added-bar{
		padding: 5px;
	}
	.footer{
		.footer-menu{
			padding-left: 0!important;
			background: #000;
			padding: 20px 10px;
			border-radius: 10px;
			.boz_sizing();
			li{
				&:before{
					content: '°';
					color: #fff;
				}
				display: block;
				width: 90%;
				margin: 5px auto;
				list-style: circle;
				text-align: left;
				a{
					font-size: 20px;
				}
			}
		}
		ul{
			padding-left: 0!important;
		}
	}
}