//Colors
@color-backgrund: #38626f;
@color-background-hover: #2d7990;
@color-blue: red;
@color-white: #ffffff;
@color-gray: #bec2c5;
@color-black: #2c2d2e;
@color-black-sky: #b2b2b2;
@color-white-sky: #d0d0d0;
@color-error: red;

//Fonts
@font: 'Asul', sans-serif;
@font-light: 400;
@font-bold: 700;

//functions
.transition(){
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.57;
	-ms-transition: all 0.7s;
	transition: all 0.7s;
}

.boz_sizing(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}